html, body{
	width: 100%;
	height: 100%;
	font-size: 16px;
}

header{
	width: 60%;
	margin: auto auto;
}

hgroup {
	width: 50%;
	float: left;
}

aside{
	color: red;
	width: 50%;
	float: left;
	text-align: right;
}


section{
	width: 60%;
	margin: auto auto;
	clear: both;
}

table td, table th {
	padding: 5px;
}


input{
	display: inline-block;
	border: 1px solid;
	font-size: 16px;
	height: 1.3em;
}

input.has-error{
	border: 1px solid red;
}

textarea.has-error{
	border: 2px solid red;
}

label.has-error{
	color: red;
}

input.valid{
	border: 1px solid green;
}
